inst/doc
.Rproj.user
influential.Rproj
cran-comments.html
Meta
README.Rmd
NEWS.Rmd
.Rhistory
cran-comments.Rmd
data-raw
doc
/doc/
/Meta/
CRAN-RELEASE
CRAN-SUBMISSION
influential package.R
R_Package_influential.Rproj
.DS_Store
